body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(5, 5, 5);
  color: #C77DFF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-title {
  text-shadow: 2px 2px 1px rgb(247, 245, 245);

}

.about-title {
  border: rgb(94, 96, 208) solid 1px;
  font-size: 60px;
  color: #7ad1d7;
  text-shadow: 2px 2px 1px rgb(247, 245, 245);
  margin-top: 0;
  text-align: center;
}

.about-info {
  color: #7ad1d7;
  text-align: center;
  /* border: rgb(200, 9, 9) solid 1px; */
  position: absolute;

}

.patient-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
}

.soaps-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  /* width: 20rem; */
  /* height: 30rem; */
  flex-direction: column;
  max-width: 300px;
  display: flex;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
}

#soaps-container {
  /* border: rgb(232, 7, 7) solid 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.delete-button {
  margin-bottom: 5%;
}


.form-control {
  background-color: black;
}

.form-group {
  border: #3C096C solid 4px;
  width: 800px;
}

#patients-container {
  /* border: rgb(232, 7, 7) solid 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#signup-info {
  border: rgb(94, 96, 208) solid 1px;

}

/* background-color: rgb(12, 33, 43);
  padding: 20px;
  display: flex;
  justify-content: space-between; */


.new-pt-form {
  background-color: rgb(12, 33, 43);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* .new-soap-form {
  background-color: rgb(12, 33, 43);
  padding: 20px;
  justify-content: space-evenly;
} */

#home-page-img {
  max-width: 30rem;
}

#login-img {
  padding-top: 4%;  
  max-width: 30rem;
  margin-left: 34%;
  justify-content: center;
}

#new-pt-img {
  padding-top: 4%;  
  max-width: 30rem;
  justify-content: center;
}

.soaps-card {
  background-color: #240046;
}

