body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-title {
  border: rgb(94, 96, 208) solid 1px;
  font-size: 60px;
  color: #242222;
  /* text-shadow: 2px 2px 1px rgb(247, 245, 245); */
  margin-top: 0;
}

.card {
  display: center;
}


